body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

.container-wide {
    width: 1000px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-wide h2 {
    font-family: 'Poppins', Arial, sans-serif;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-wide form {
    font-family: 'Poppins', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.container-wide input {
    font-family: 'Poppins', Arial, sans-serif;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container-wide a {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.container-wide button {
    font-family: 'Poppins', Arial, sans-serif;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    width: 20%;
}

.logout-button {
    width: 50px;
}

.admin-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-section .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
}

.admin-section .spacing {
    width: 25px;
}

.admin-section input[type="text"] {
    font-family: 'Poppins', Arial, sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 100%; /* Adjusted width */
}

.admin-section button {
    font-family: 'Poppins', Arial, sans-serif;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
}

.admin-section button.small-button {
    padding: 5px 15px; /* Adjust padding */
    font-size: 12px; /* Adjust font size */
    border-radius: 4px;
    cursor: pointer;
}

table {
    font-family: 'Poppins', Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f0f0f0;
}